<html>
<head lang=en>
<title>Model Deployment</title>

<meta charset="utf-8">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <h1>Predict your GPA</h1>

    <p>Enter your SAT score!</p>

    <form action="/" method="post">
        <input type="number" name="sat_score" placeholder="sat score">
        <input type="submit">
    </form>

    <p>Your predicted GPA is: </p>
    {{my_marks}}

</body>


</head>
</html>
